<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/AddGlovesByMachine.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="{{BackUrl}}">
        <div class="TitleBox"><a class="Back" href="{{BackUrl}}"><button class="BackButton">&#8249;</button></a><p class="Title">{{ShiftName}}</p></div>
    </form>
    <form method="post">
        <div class="GlovesCount">
            <div class="FirstSortGlovesCount">{{FirstSortGloveCount}} шт (1 сорта)</div>
            <div class="SecondSortGlovesCount">{{SecondSortGloveCount}} шт (2 сорта)</div>
            <div class="ThirdSortGlovesCount">{{DefectSortGloveCount}} шт (брака)</div>
        </div>
        <div class="GlovesSet">
            <div class="GlovesSort">
                <button type="button" class="SortButton" id="FirstSortButton" onclick="ChangeSort(1);">1 сорт</button>
                <button type="button" class="SortButton" id="SecondSortButton" onclick="ChangeSort(2);">2 сорт</button>
                <button type="button" class="SortButton" id="ThirdSortButton" onclick="ChangeSort(3);">Брак</button>
            </div>
            <div class="GlovesCountEntry">
                <input type="hidden" name="Sort" id="Sort" value="1">
                <div class="GlovesCountContainer">
                    <input type="number" step="1" class="CountEntry" id="CountInput" name="CountInput" pattern="[0-9]*" inputmode="numeric">
                    <div class="GlovesCountMeasure">ШТ.</div>
                </div>
                <button type="submit" class="SubmitGlovesCount" id="SubmitGlovesCount" onclick="return AddValue();">Зберегти</button>
            </div>
        </div>
        <div class="MainNumbers">
            <button type="button" class="MainNumber" onclick="AddNumber('6');">6</button>
            <button type="button" class="MainNumber" onclick="AddNumber('12');">12</button>
            <button type="button" class="MainNumber" onclick="AddNumber('24');">24</button>
        </div>
    </form>
    <script>
        document.getElementById("FirstSortButton").disabled = true;
        function ChangeSort(SortId) {
            document.getElementById("Sort").value=SortId;
            if (SortId == 1){
                document.getElementById("FirstSortButton").disabled = true;
                document.getElementById("SecondSortButton").disabled = false;
                document.getElementById("ThirdSortButton").disabled = false;
            }
            else if (SortId == 2){
                document.getElementById("FirstSortButton").disabled = false;
                document.getElementById("SecondSortButton").disabled = true;
                document.getElementById("ThirdSortButton").disabled = false;
            }
            else if (SortId == 3){
                document.getElementById("FirstSortButton").disabled = false;
                document.getElementById("SecondSortButton").disabled = false;
                document.getElementById("ThirdSortButton").disabled = true;
            }
        };


        function AddNumber(Number) {
            GloveCount=document.getElementById("CountInput").value;
            document.getElementById("CountInput").value=Number;
        }

        function AddValue(){
            if (document.getElementsByName("CountInput")[0].value==""){
                alert("Ви не ввели кількість");
                return false;
            };
        }
    </script>
</body>
</html>
