<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/ComingProductSet.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="{{BackUrl}}">
        <div class="TitleBox"><button class="BackButton">&#8249;</button><p class="Title">Вибір продукту для приходу {{ShiftName}}</p></div>
    </form>
    <form method="post">
        <div class="search_container">
            <input type="text" class="search_input" placeholder="Шукати">
            <button type="button" class="search_button" onclick="Search();">Пошук</button>
        </div>
        <div class="search_container">
            <button type="button" class="fast_search" onclick='document.getElementsByClassName("search_input")[0].value="("+this.innerText+")";Search();'>В'язання</button>
            <button type="button" class="fast_search" onclick='document.getElementsByClassName("search_input")[0].value="("+this.innerText+")";Search();'>ПВХ</button>
            <button type="button"  class="fast_search" onclick='document.getElementsByClassName("search_input")[0].value="("+this.innerText+")";Search();'>Оверлок</button>
            <button type="button"  class="fast_search" onclick='document.getElementsByClassName("search_input")[0].value="("+this.innerText+")";Search();'>Упаковка</button>
        </div>
        <div class="Products">
            {% for Product in Products %}
            <input type="submit" class="Product" name="Product" value="{{Product}}">
            {% endfor %}
        </div>
    </form>
    <script>
        Products=Array.from(document.getElementsByClassName("Products")[0].getElementsByClassName("Product")).map(ProductElement => ProductElement.value);

        function Search() {
            var SeachText = document.getElementsByClassName("search_input")[0].value.toUpperCase();
            var ProductsTable = document.getElementsByClassName("Products")[0];
            var ProductElements = ProductsTable.getElementsByClassName("Product");
            Array.from(ProductElements).forEach(Element => Element.remove());
            for (Product in Products){
                if (Products[Product].toUpperCase().includes(SeachText)){
                    ProductsTable.innerHTML += '<input type="submit" class="Product" name="Product" value="' + Products[Product] + '">';
                }
            }
        }

    </script>
</body>
</html>
