<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/MachineSelect.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="{{BackUrl}}">
        <div class="TitleBox"><a class="Back" href="{{BackUrl}}"><button class="BackButton">&#8249;</button></a><p class="Title">Вибір в'язальної машини</p></div>
    </form>
    <form method="post">
        <div class="Machines">
            {% for Machine in Machines %}
            <input type="submit" class="Machine" name="Machine" value="{{Machine}}">
            {% endfor %}
        </div>
    </form>
</body>
</html>
