<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Shift.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <p class="Title">{{ShiftName}}</p>
    <form method="post">
        <div class="TimerContainer"><div class="Timer">Початок {{ShiftStart}}</div></div>
        <div class="StopShiftContainer"><a href="{{AddGlovesUrl}}"><button type="button" class="SubmitGlovesCount" id="SubmitGlovesCount">Додати рукавиці</button></a></div>
        <div class="StopShiftContainer"><button type="submit" class="StopShift" onclick="GloveCount=document.getElementById('Stop').value=1;">Закінчити зміну</button></div>
    </form>
</body>
</html>
