<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Shift.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="/">
        <div class="TitleBox"><button class="BackButton">&#8249;</button><p class="Title">{{ShiftName}}</p></div>
    </form>
    <form method="post">
        <div class="StartShiftContainer"><button type="submit" class="StartShift">Почати зміну</button></div>
    </form>
</body>
</html>
