<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/ShowProductsMachine.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="{{BackUrl}}">
        <div class="TitleBox"><button class="BackButton">&#8249;</button><p class="Title">{{ShiftName}}</p></div>
    </form>
    <table class="CountdownTable" tabindex="0">
        <tr>
            <th>Машина</th>
            <th>Продукт</th>
            <th>Сорт</th>
            <th>Пар</th>
        </tr>
        {% for Machine, Product, Sort, Count in CountdownInfo %}
            <tr>
                <td>{{Machine}}</td>
                <td>{{Product}}</td>
                <td>{{Sort}}</td>
                <td>{{Count}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
