<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/StageSelect.css') }}">
    <title>Підрахунок запасів рукавичок</title>
</head>
<body>
    <form action="/">
        <div class="TitleBox"><a class="Back" href="/"><button class="BackButton">&#8249;</button></a><p class="Title">Вибір етапу</p></div>
    </form>
    <form method="post">
        <div class="Stages">
            {% for AvailableStage in AvailableStages %}
            <input type="submit" name="Stage" class="Stage" value="{{AvailableStage}}">
            {% endfor %}
        </div>
    </form>
</body>
</html>
