<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/WorkerLogIn.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="/">
        <div class="TitleBox"><button class="BackButton">&#8249;</button><p class="Title">Увійти в {{Worker}}</p></div>
    </form>
    <form method="post">
        <div class="PasswordContainer">
            <input type="text" class="WorkerPassword" name="WorkerPassword" placeholder="Напишіть пароль" required>
        </div>
        <div class="PasswordContainer"><button type="submit" class="LogInButton">Увійти</button></div>
    </form>
    <script>
        if ({{WrongPassword}}==true){
            setTimeout(function() {alert("Неправильний пароль");}, 100);
        }
    </script>
</body>
</html>
