<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/ComingProductCountSet.css') }}">
    <title>Підрахунок запасів рукавичок</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <form action="{{BackUrl}}">
        <div class="TitleBox"><button class="BackButton">&#8249;</button><p class="Title">Вибір кількості продукту ({{ShiftName}}) для приходу</p></div>
    </form>
    <form method="post">
        <div class="center_container">
            <div class="InputContainer">
                <input type="number" inputmode="numeric" pattern="[0-9]*" step="1" class="products_count_input" name="products_count_input" placeholder="Введіть кількість продукту">
                <div class="Measure">Пар</div>
            </div>
        </div>
        <div class="center_container">
            <button type="submit" class="add_coming_button">Додати прихід</button>
        </div>
    </form>
</body>
</html>
